@media screen and (max-width: 650px) {
    section div{
        width: auto;
    }

    .nav-bar{
        display: none;
    }

    .header-first-line{
        box-sizing: border-box;
        margin: 0;
        background-color: #EEEFF1;
        position: fixed;
        padding: 20px;
        top: 0;
        z-index: 99;
        margin: 0;
    }

    .header-first-line__block{
        padding: 10px;
    }

    h1{
        text-align: center;
    }

    .base-p{
        text-align: center;
    }

    .menu-hide{
        display: block;
    }

    .header-main{
        margin-top: 50px;
        padding-bottom: 0;
    }

    .description__text{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    header{
        padding-bottom: 50px;
    }

    .header-main__info{
        margin-top: 20px;
    }

    .portfolio__collage{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 980px) {
    .header-first-line__block{
        width: 95%;
        background-color: #EEEFF1;
    }

    .projects__block__text{
        display: none;
    }

    .projects__block__img>input[type="radio"] {
        display: none;
    }

    .projects__block__img>div {
        display: none;
    }

    .projects__block__img>input[type="radio"]:checked+label {
        background-color: #fff;
        border-bottom: 1px solid #fff;
    }

    #tab-btn-1:checked~#content-1,
    #tab-btn-2:checked~#content-2,
    #tab-btn-3:checked~#content-3,
    #tab-btn-4:checked~#content-4,
    #tab-btn-5:checked~#content-5,
    #tab-btn-6:checked~#content-6 {
        display: block;
    }

    .header-main{
        width: 95%;
        flex-wrap: wrap;
    }

    .description__text{
        width: 95%
    }

    .projects{
        width: 100%
    }


    .skills__block{
        width: 95%
    }

    .methods-work__text{
        width: 95%
    }

    

    .container-logos{
        width: 95%
    }

    .send-email__text{
        width: 95%
    }

    .container-footer{
        width: 95%
    }
}
