@media screen and (max-width: 650px) {
    section div{
        width: auto;
    }

    .nav-bar{
        display: none;
    }

    h1{
        text-align: center;
    }
    .base-p{
        text-align: center;
    }

    .header-main{
        margin-top: 50px;
        padding-bottom: 0;
    }

    header{
        padding-bottom: 50px;
    }

    .header-main__info{
        margin-top: 20px;
    }
}

@media screen and (max-width: 980px) {
    .header-first-line{
        width: 95%;
    }

    .projects__block__text{
        display: none;
    }

    .header-main{
        width: 95%;
    }

    .description__text{
        width: 95%
    }

    .projects{
        width: 95%
    }

    .header-first-line{
        width: 95%
    }

    .skills__block{
        width: 95%
    }

    .methods-work__text{
        width: 95%
    }

    

    .container-logos{
        width: 95%
    }

    .send-email__text{
        width: 95%
    }

    .container-footer{
        width: 95%
    }
}
