body{
    margin: 0;
}

section{
    width: 100%;
}

header{
    width: 100%;
    padding-top: 57px;
    padding-bottom: 145px;
    background-color: #EEEFF1;
}

h1{
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
}


h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;

    color: #000000;
}

h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    margin: 0;
    color: #FFFFFF;
}

.base-p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #727272;
}

.header-first-line{
    display: flex;
    justify-content: space-between;
    width: 57%;
    margin: auto;
    align-items: center;
}

.nav-bar{
    display: flex;
    gap: 42px;
}

.nav-bar__a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}

.nav-bar__a:hover{
    font-weight: 500;
    cursor: pointer;
    color: #34547A;
}

.header-main{
    display: flex;
    justify-content: space-between;
    width: 57%;
    margin: auto;
    align-items: center;
    margin-top: 140px;
}

.notebook{
    margin-left: 85px;
}

.header-main__info{
    min-width: min-content;
    width: 49%;
    margin-top: 10px;
}

.header-main__info__p{
    margin-top: 40px;
    margin-bottom: 50px;
}

.btn-write-me{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: #34547A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    width: 225px;
    height: 65px;
    color: #FFFFFF;
}

.btn-write-me:hover{
    background: #436a9a;
    cursor: pointer;
}

.description__text{
    width: 27%;
    margin: auto;
    margin-top: 119px;
    margin-bottom: 100px;
    text-align: center;
}

.description__text__h{
    margin-bottom: 50px;
}

.count-projects{
    background-color: #34547A;

}

.projects{
    width: 57%;
    margin: auto;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-between;
    align-items: center;

}

.projects__block{
    display: flex;
    align-items: center;
}

.projects__block__text{
    margin: 0;
    margin-left: 20px;
}

.projects__block__text-p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    line-height: 26px;
    color: #FFFFFF;
}

.skills__block{
    width: 60%;
    margin: auto;
    display: flex;
    padding-top: 102px;
    padding-bottom: 101px;
    justify-content: space-between;
    align-items: center;
}

.skills__block__my-skills{
    margin: 0;
    width: 39%;
}

.skills__block__my-skills h2{
    margin-bottom: 50px;
}

.skills__block_my-skills__progressbar__lines_1{
    position: relative;
    height: 4px;
    background-color: #c4c4c4;
    width: 100%;
}

.skills__block_my-skills__progressbar__lines_2{
    position: absolute;
    left: 0;
    height: 4px;
    background-color: #34547A;;
    width: 70%;
}